
<div class="mc_content">
  <div class="consult_information">
      <p>상담정보</p>
      <table>
          <colgroup>
              <col width="12%">
              <col width="*">
          </colgroup>
          <form class="consult_form" action="/chat/consult" method="post">
              <tbody class="consult_table">
                  <tr>
                      <th>이름 *</th>
                      <td>
                          <input type="text" name="name" placeholder="이름을 적어 주세요"
                              class="consult_input consult_input_name" required>
                      </td>
                  </tr>
                  <tr>
                      <th>나이 *</th>
                      <td>
                          <input type="number" name="age" placeholder="나이를 적어주세요"
                              class="consult_input consult_input_age" required>
                      </td>
                  </tr>
              </tbody>
      </table>
      <div class="consultBtn_div">
          <button class="submitBtn consult_submitBtn">상담신청하기</button>
          <button class="cancelBtn consult_cancleBtn" type="button">취소</button>
      </div>
      </form>
  </div>
</div>
</div>