{% include "../layout/subpage_top.html" %}
<link rel="stylesheet" href="/css/subpage/college/introduction.css">

{% include "../layout/subpage_college_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        연혁
    </div>
    <div class="mc_content ">
        
        <div class="container">
            <div class="leftbox">
              <nav>
                <a id="dashboard"><i class="fas fa-tachometer-alt"></i></a>
                <a id="profile"> <i class="fas fa-user"></i> </a>
                <a id="settings"> <i class="fas fa-cog"></i> </a>
                <a id="messages"> <i class="fas fa-comments"></i> </a>
                <a id="notification"> <i class="fas fa-bell"></i> </a>
              </nav>
            </div>
            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">

                    {% for item in result %}
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                        {{item.year}}<br>
                    </div>
                    <div class="item-title">{{item.content}}</div>
          
                  </li>
                  {% endfor %}

          
                </ul>
          
              </div>
            </div>
          </div>
    </div>
</div>
<!--menu_contents end-->
{% include "../layout/subpage_bottom.html" %}