{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_college_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        인사말
    </div>
    <div class="mc_content">
        <div class="intro_title">
            <!-- <span>취업에서 한 걸음 더,</span>
            <span>슈퍼신입을 만듭니다.</span>
            <span>경일게임아카데미</span> -->
            {{result.subject}}
        </div>

        <div>
            <!-- 안녕하세요 원장입니다~! -->
            {{result.content}}
        </div>
    </div>
</div>
<!--menu_contents end-->

{% include "../layout/subpage_bottom.html" %}