{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_college_navi.html" %}


<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        인사말
    </div>
    <div class="mc_content">
        <input type="hidden" id='hidden_content' value="{{result.content}}">
        <div id='content'></div>
    </div>
</div>
<!--menu_contents end-->

{% include "../layout/subpage_bottom.html" %}

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
        const hidden_content = document.querySelector('#hidden_content');
        const content = document.querySelector('#content');
        content.innerHTML = `${hidden_content.value}`;
    })
</script>