{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_college_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        오시는 길
        <input id ="address" type="hidden" value="{{result.subject}}">
    </div>
    <div class="mc_content">
        <p style="margin-top:-12px">
            <em class="link">
                <a href="javascript:void(0);"
                    onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
        
                </a>
            </em>
        </p>
        <div id="map" style="width:996px;height:500px; top:100px"></div>
        {% include "../layout/map.html" %}
        <pre style="margin-top:100px">
            {{result.content}}
        </pre>
    </div>
</div>
<!--menu_contents end-->

{% include "../layout/subpage_bottom.html" %}