<!-- 
  대기중인 클라이언트와 상담중인 클라이언트의 정보가 담긴 카드를 만드는 html 
  앞서 셋인터벌 안에 있는 wait_consult();
  now_consult(); 이 두 함수는 
  비동기로 이부분만 변경하여 페이지에 뿌림 

-->
{% if wait %}

{% for item in clients %}
{% if item.on %}
  <li class="client_in">
    <div class="clientInfo">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
    <input  type="button" data-id="{{item.id}}" onclick="startChat(`{{item.id}}`,`{{item.name}}`)" value="시작">
    </div>
  </li>
  {% else %}
  <li class="client_out">
    <div class="clientInfo">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
      <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="삭제">
    </div>
  </li>
  {% endif %}
{% endfor %}

{% else %}

{% for item in clients %}
{% if item.on %}
  <li class="client_in">
    <div class="clientInfo" onclick="change_client(`{{item.id}}`)">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
      <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="종료">
    </div>
  </li>
{% else %}
<li class="client_out">
  <div class="clientInfo" onclick="change_client(`{{item.id}}`)">
    <strong >{{item.name}}({{item.age}})</strong>
    <span>{{item.date}}</span>
  </div>
  <div class="consult_event">
    <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="종료">
  </div>
</li>
{% endif %}
{% endfor %}

{% endif %}

