
{% if wait %}

{% for item in clients %}
{% if item.on %}
  <li class="client_in">
    <div class="clientInfo">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
    <input  type="button" data-id="{{item.id}}" onclick="startChat(`{{item.id}}`,`{{item.name}}`)" value="시작">
    </div>
  </li>
  {% else %}
  <li class="client_out">
    <div class="clientInfo">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
      <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="삭제">
    </div>
  </li>
  {% endif %}
{% endfor %}

{% else %}

{% for item in clients %}
{% if item.on %}
  <li class="client_in">
    <div class="clientInfo" onclick="change_client(`{{item.id}}`)">
      <strong >{{item.name}}({{item.age}})</strong>
      <span>{{item.date}}</span>
    </div>
    <div class="consult_event">
      <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="종료">
    </div>
  </li>
{% else %}
<li class="client_out">
  <div class="clientInfo" onclick="change_client(`{{item.id}}`)">
    <strong >{{item.name}}({{item.age}})</strong>
    <span>{{item.date}}</span>
  </div>
  <div class="consult_event">
    <input type="button" data-id="{{item.id}}" onclick="endChat(`{{item.id}}`)" value="종료">
  </div>
</li>
{% endif %}
{% endfor %}

{% endif %}

