<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/css/index/chat.css">


</head>

<body>

  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./consult_snb.html" %}



      <div id="main">

        <div id='realTime_list'>
          <div id="consulting_box">
            <span>진행중인 상담</span>
            <ul id="consulting">
            </ul>
          </div>
        
        <div id="waiting_box">
          <span>대기중인 상담</span>        
          <ul id="waiting">
          </ul>
        </div>
      </div>
        <!-- <button id="chatBtn" data-value="0">채팅</button> -->
        <section class="msger" id="chat_area" >
          <header class="msger-header">
            <div class="msger-header-title">
              <i class="fas fa-comment-alt"></i> 실시간 상담
            </div>
            <div class="msger-header-options">
              <span><i class="fas fa-cog"></i></span>
            </div>
          </header>
          <div  id='chatroom'>


          </div>
        
          <form class="msger-inputarea">
            <input type="text" class="msger-input" placeholder="Enter your message...">
            <button type="submit" class="msger-send-btn" id="chatSend" >보내기</button>
          </form>
        </section>

       


      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script>
  let socket = io();
  const msgerForm = get(".msger-inputarea");
const msgerInput = get(".msger-input");
const msgerChat =document.querySelectorAll('.msger-chat')

  // Icons made by Freepik from www.flaticon.com
const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
// const BOT_NAME = "경일게임아카데미";
const PERSON_NAME ='경일게임아카데미'
  const chatroom = document.querySelector('#chatroom')
  const waiting = document.querySelector('#waiting'); 
const consulting = document.querySelector('#consulting'); 
const start_btn = document.querySelector('#start_btn'); 
let client_id; 
setInterval(()=>{
  wait_consult();
  now_consult(); 
},500); 


socket.on("connect", () => {

});

socket.on('test',datas=>{
            // consultant_id = datas[1]; 
            let name = datas[3];
            let msgText = datas[2];
            appendMessage(name, PERSON_IMG, "left", msgText,client_id);
          })







async function wait_consult(){
  let url = 'http://localhost:3000/admin/consult/chat/wait'
  let options = {
    method: 'get',
  }
  let response = await fetch(url, options);
  let result = await response.text();
  if(isJson(result)){ 
    //로그인 처리가 잘 안되었을 때, 
    let json  = JSON.parse(result); 
    if(json.result === false) alert(json.msg);
  }else{ 
    //로그인 처리가 완료가 잘 되었을때.
    waiting.innerHTML = result;
    //로그인 처리가 잘 되고 화면이 잘 그려졌을 때
    // socketChat(); 
  }
}


async function now_consult(){
  let id = socket.id; 
  let url = 'http://localhost:3000/admin/consult/chat/consulting'
  let options = {
    method: 'post',
    headers: {
      'content-type': 'application/json',
    },
    body: JSON.stringify({
      id, 
    }),
  }
  let response = await fetch(url, options);
  let result = await response.text();
  if(isJson(result)){ 
    //로그인 처리가 잘 안되었을 때, 
    let json  = JSON.parse(result); 
    if(json.result === false) alert(json.msg);
  }else{ 
    //로그인 처리가 완료가 잘 되었을때.
    consulting.innerHTML = result;
    //로그인 처리가 잘 되고 화면이 잘 그려졌을 때
    // socketChat(); 
  }
}



async function startChat(id,name){
  //class="msger-chat"
  const chats = document.querySelectorAll('.msger-chat');
  if(chats.length>0){
    chats.forEach(v=>{
      v.style.display='none'
    })
  }

  const chat = document.createElement('div'); 
  chat.setAttribute('id',`chat${id}`); 
  chat.setAttribute('class',`msger-chat`);
  chat.style.display='block' 
  chatroom.appendChild(chat); 

  let consultant_id = socket.id; 
  client_id = id;
  let url = 'http://localhost:3000/admin/consult/chat/start'
  let options = {
    method: 'post',
    headers: {
      'content-type': 'application/json',
    },
    body: JSON.stringify({
      consultant_id, 
      client_id
    }),
  }
  let response = await fetch(url, options);
  let message = '안녕하세요 경일게임아카데미입니다.' 
  let datas = []; 
  datas.push(client_id);
  datas.push(consultant_id); 
  datas.push(message); 
  socket.emit('test',datas);
  appendMessage(PERSON_NAME, BOT_IMG, "right", message,client_id);

  
}

async function endChat(id){
  let url = 'http://localhost:3000/admin/consult/chat/end'
  let options = {
    method: 'post',
    headers: {
      'content-type': 'application/json',
    },
    body: JSON.stringify({ 
      client_id:id
    }),
  }
  await fetch(url, options);
  const now_chat = document.querySelector(`#chat${id}`); 
  chatroom.removeChild(now_chat);

}





msgerForm.addEventListener("submit", event => {
  event.preventDefault();
  const consultant_id = socket.id 
    const msgText = msgerInput.value;
    if (!msgText) return;
    let datas = [];
    datas.push(client_id);
    datas.push(consultant_id);
    datas.push(msgText);
    socket.emit('test', datas);
    
    appendMessage(PERSON_NAME, BOT_IMG, "right", msgText,client_id);
    msgerInput.value = "";
    msgerInput.focus();

});








function change_client(id){
  client_id = id; 
  const chats = document.querySelectorAll('.msger-chat');
  chats.forEach(v=>{
    v.style.display='none'
  })
  const chat = document.querySelector(`#chat${id}`)
  chat.style.display='block'
}



function isJson(str) {
  try {
    let json = JSON.parse(str);
    return (typeof json == 'object')
  } catch (e) {
    return false;
  }

}


// function addCard2(datas,type){ //mychat  yourchat 
//       let temp = datas[1]; 
//       const chat = document.querySelector(`#chat${temp}`)
//       const div = document.createElement('div');


//       const pre = document.createElement('pre');
//       const span = document.createElement('span');
      
//       span.innerHTML = datas[3]; 
//       pre.innerHTML = datas[2]; 
//       pre.classList.add(type); 
//       div.appendChild(span); 
//       div.appendChild(pre); 
//       chat.appendChild(div); 
// }



function appendMessage(name, img, side, text,now) {
//   Simple solution for small apps
const msgerChat = document.querySelector(`#chat${now}`); 
const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;

msgerChat.insertAdjacentHTML("beforeend", msgHTML);
msgerChat.scrollTop += 500;
}


// Utils
function get(selector, root = document) {
return root.querySelector(selector);
}

function formatDate(date) {
const h = "0" + date.getHours();
const m = "0" + date.getMinutes();

return `${h.slice(-2)}:${m.slice(-2)}`;
}



</script>




</html>