<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>

<body>

  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./consult_snb.html" %}

      <div id="main">
        <button id="chatBtn" data-value="0">채팅</button>
        <div id="chatRoom">

        </div>
        <div id="chat">

        </div>

        <div id="chatInputArea">
          <textarea name="" id="msg"></textarea>
          <!-- <input type="text" id = 'msg'> -->
          <button id="chatSend" onclick="send()">전송</button>
        </div>


      </div>
    </div>
  </div>

</body>

</html>