<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/main.css">
  <link rel="stylesheet" href="/css/subpage/consult/consulting.css">


</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./consult_snb.html" %}
      <div id="main">
        <a class="admin_button"  href="/admin/consult/faq/write">faq 작성</a>

        <div class="accordion">
          {% for item in result %}
      <input type="radio" name="accordion" id="answer{{item.id}}">
      <label for="answer{{item.id}}">{{item.subject}} <a href="/admin/consult/faq/modify?id={{item.id}}">수정</a>
        <a href="/admin/consult/faq/destroy?id={{item.id}}">삭제</a></td> <em></em></label>
      <div class="faq_content">
        <p>{{item.content}}</p>
      </div>
          {% endfor %}
    </div>

     
      

      </div>
    </div>
  </div>




</body>

</html>