<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/admin/css/index.css">
<link rel="stylesheet" href="/css/subpage/community/review.css">


</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./consult_snb.html" %}
      <div id="main" class="board_list">

        <div>
          <h2>상담신청 목록</h2>
          <table>
            <thead>
              <td>상담번호</td>
              <td>작성자</td>
              <td>등록일</td>
            </thead>
            <tbody>
              {% for item in pageinfo.result %}
              <tr>
                <td>{{item.id}}</td>
                <td>
                  <a href="/admin/consult/view?id={{item.id}}&page={{page}}">{{item.name}}</a>
                </td>
                <td>{{item.date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="paging">
          <a href="/admin/consult/consultLlist?page=1">처음</a>
          {% if pageinfo.prev %}
          <a href="/admin/consult/consultList?page={{prev}}">이전</a>
          {% endif %}
          {% for item in pageinfo.nowpageblock %}
          <a href="/admin/consult/consultList?page={{item}}" class="sbt">{{item}}</a>
          {% endfor %}
          {% if pageinfo.next %}
          <a href="/admin/consult/consultList?page={{next}}">다음</a>
          {% endif %}
          <a href="/admin/consult/consultList?page={{end}}">끝</a>

      </div>


      </div>
    </div>
  </div>




</body>

</html>