<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/view.css">


</head>

<body>

  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./consult_snb.html" %}

      <div id="main">
        <div class="info">
          <dl>
            <dt>작성자</dt>
            <dd>{{result.name}}</dd>
          </dl>
          <dl>
            <dt>등록일</dt>
            <dd> {{result.date}}</dd>
          </dl>
           
        </div>
        <div>
          {{result.content}}

         </div>
          <a href="/admin/consult/consultList?page={{page}}" class="viewtn">목록</a>
          <a href="/admin/consult/destroy?id={{result.id}}&page={{page}}" class="viewtn">삭제하기</a>
         
      </div>
    </div>
  </div>
  
</body>
</html>