.menu_contents {
    overflow: hidden;
    height: auto;
    float: right;
    background: #64c582;
    width: 83%;
}

.mc_content {
    overflow: hidden;
    height: auto;
    padding: 40px 0px;
    box-sizing: border-box;
}