.sub_bottom{
    margin-top: 30px;
    overflow: hidden;
    height: auto;
}

.sub_navi{
    float: left;
    height: 200px;
    position: relative;
    display: block;
    width: 190px;
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -1.5px;
}

.sub_navi_title{
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1.5px;
    color: #003264;   
}

/* college navi */
.college_menu_pic,
.consult_menu_pic
{
    background: url('http://www.kiweb.or.kr/images/college/sub_visual_bg.jpg');
    height: 100%;
}

.curriculum_menu_pic{
    background: url('http://www.kiweb.or.kr/images/curriculum/sub_visual_bg.jpg');
    height: 100%;  
    background-position: -540px;
}

.jobinfo_menu_pic{
    background: url('http://www.kiweb.or.kr/images/job/sub_visual_bg.jpg');
    height: 100%;  
}

.jobinfo_menu_pic{
    background: url('http://www.kiweb.or.kr/images/job/sub_visual_bg.jpg');
    height: 100%;  
}

.community_menu_pic{
    background: url('http://www.kiweb.or.kr/images/community/sub_visual_bg.jpg');
    height: 100%;  
}

