.chat {
  width: 600px;
  min-height: 900px;
  height: auto;
  background: paleturquoise;
  overflow: scroll;
}

.chat > div {
  height: 40px;
  padding: 5px;
  margin-bottom: 12px;
}
/* .chat > div > div {
  height: auto;
  overflow: hidden;
} */

.chat > div > div > pre {
  display: inline-block;
  max-width: 290px;
  padding: 7px 14px;
  border-radius: 15px;
  overflow: visible;
  box-sizing: border-box;
}

.chat > div > pre {
  display: inline-block;
  max-width: 290px;
  padding: 7px 14px;
  border-radius: 15px;
}

.chat > div > div > span {
  display: block;
  float: left;
  font-weight: bold;
}

.chat > div > pre.mychat {
  float: right;
  background: yellow;
}

.chat > div > div > pre.yourchat {
  float: left;
  background: pink;
}

#chatInputArea {
  width: 600px;
  padding: 5px 7px;
}
/* 
    333
    666
    999
    eeeeee
    efefef
    dddddd
    ededed

*/
#chatInputArea > textarea {
  width: 200px;
  padding: 7px 14px;
  border: 1px solid #666;
}

#chatInputArea > button {
  padding: 7px 14px;
  background: #eee;
  border: 1px solid #999999;
}
