/*gnb start*/
#gnb_wrap{
    height: 80px;
    /*padding: 20px 0;*/
    position: fixed;
    top: 0;
    z-index: 10;
    background: #a3f1a3;
}

.header{
    width: 100%;
    height: 100%;
}
.logo{
    height: 100%;
    float: left;
    padding: 25px 0;
    box-sizing: border-box;
}
.gnb{
    height: 100%;
    float: right;
    width: 90%;
    text-align: right;
    padding: 25px 37px;
    box-sizing: border-box;
    cursor: pointer;
}
.gnb_ul{
    float: right;
}
.gnb_ul>a>li{
    width: 125px;
    float: left;
    text-align: right;
}
.gnb_ul>a{
    display: inline-block;
    height: 50px;
}
/*gnb end*/


/*submenu start*/
.submenu{
    height: 250px;
    background: #aea0b9;
    position: relative;
    z-index: 9;
    display: none;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    width: 55%;
    left: 540px;
}
.submenu_inner_wrap{
    float: right;
}
.submenu_ul{
    width: 130px;
    height: 120px;
    float: left;
    cursor: pointer;
}
.submenu_ul>a>li{
    height: 50px;
}
/*submenu end*/