/*gnb start*/
#gnb_wrap{
    height: 80px;
    /*padding: 20px 0;*/
    position: fixed;
    top: 0;
    z-index: 10;
    background: white;
}
.header_wrap{
    width: 1300px;
}


.header{
    width: 100%;
    height: 100%;
}
.logo{
    width: 200px;
    height: 100%;
    float: left;
    padding: 8px 0;
    box-sizing: border-box;
}
.gnb{
    width: 803px;
    height: 100%;
    padding: 25px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}
.gnb_ul{
    float: right;
}
.gnb_ul>a>li{
    width: 140px;
    float: left;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #1565C0;
}
.gnb_ul>a{
    display: inline-block;
    height: 50px;
}
/*gnb end*/


/*submenu start*/
.submenu{
    opacity: 0.8;
    border-radius: 80px;
    height: 220px;
    background: #d6d3d8;
    position: relative;
    z-index: 9;
    display: none;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 58%;
    left: 292px;
    font-weight: bolder;
}
.submenu_inner_wrap{
    float: right;
}
.submenu_ul{
    width: 145px;
    height: 120px;
    float: left;
    cursor: pointer;
}
.submenu_ul>a>li{
    height: 46px;
}
/*submenu end*/


/*userinfo start*/
.userinfo{
    width: 200px;
    height: 100%;
    display: inline-block;
    float: right;
    padding: 25px 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}
.before_login{
    display: block;
    text-align: right;
}
.before_login>a{
    width: 80px;
    display: inline-block;
}
.after_login{
    display: none;
    text-align: right;
}
.after_login_span{
    margin-right: 10px;
}
/*userinfo end*/