@media (max-width: 1200px) {
    @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        font-family: 'NanumSquareRound';
    }
    #wrap {
        width: 100%;
    }
    #visual {
        display: none;
    }
    .gnb_wrap {
        width: 100%;
    }
    .gnb {
        display: none;
    }
    .logo>a>img{
        display: inline-block;
        width: 130px;
        height: 70%;
        padding: 10px 0;
    }
    /*슬라이드 메뉴*/
    #side_area{
        display: block;
    }
    #side_flag{display:none;}
    #side_area > #side_flag+label{
        width:30px;
        height:20px;
        right: 10px;
        top: 20px;
        display:block;
        position:absolute;
        cursor:pointer;
    }
    #side_area > #side_flag+label span{
        position:absolute;
        display:block;
        width:100%;
        height:3px;
        background:#000;
        z-index:10;
        transition: all .35s;
    }

    #side_area > #side_flag+label span:nth-child(1){top:0px;}
    #side_area > #side_flag+label span:nth-child(2){top:50%; transform:translateY(-50%)}
    #side_area > #side_flag+label span:nth-child(3){bottom:0px;}

    #side_area > #side_flag:checked+label span:nth-child(1){top:50%; transform:translateY(-50%) rotate(45deg);}
    #side_area > #side_flag:checked+label span:nth-child(2){opacity:0;}
    #side_area > #side_flag:checked+label span:nth-child(3){bottom:50%;transform:translateY(50%) rotate(-45deg);}
    #side_area > #sidebar {
        width: 155px;
        height: 100%;
        padding: 90px 18px;
        box-sizing: border-box;
        position:fixed;
        top:0px;
        right:-160px;
        /* background:#fff; */
        background: rgb(26, 161, 110);
        z-index:2;
        transition: all .35s;
    }
    #side_area > #sidebar > ul >li {margin-top:20px;}
    #side_area > #side_flag:checked+label+#sidebar{
        right:0px;
        transition: all .35s;
    }

    .login{
        width: 100px;
        height: 50px;
        display: block;
        position: absolute;
        bottom: 70px;
        right: 20px;
        font-size: 20px;
    }
    .login > a{
        display: block;
        height: 50px;
        text-align: right;
    }

    /*프로그램 부분*/
    #program{
        width: 100%;
        height: auto;
        margin-top: 50px;
        background: none;
    }
    #program>.w1200{
        width: 100%;
        height: auto;
    }
    .program_title{
        font-size: 20px;
    }
    .program_sub_title{
        display: none;
    }
    .program_list{
        width: 100%;
        height: auto;
    }
    .program_list>ul{
        display: block;
    }
    .card{
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        background: none;
    }
    .card>a>img{
        height: 160px;
    }
    .card>a:nth-child(2){
        display: none;
    }
    
    /*review*/
    #reviews{
        margin-top: 30px;
    }
    #reviews{
        width: 100% !important;
        height: auto;
    }

    #reviews > .w1200
    {
        width: 100%;
        height: auto;
        padding: 10px;
    }


    /*연락망*/
    #location{
        display: none;
    }

    #consult,
    #consult > .w1200{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .consultInnerWrap{
        width: 100%;
        height: 250px;
        overflow: hidden;
        padding: 30px 65px;
    }

    .consultText{
        font-size: 21px;
        margin-bottom: 20px;
    }
   
    .consultText>span{
        display: block;
    }

    .consultBtn{
        width: 130px;
        height: 55px;
        float: left;
    }

    /*footer*/
    #footer{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .footer_inner_div{
        width: 100%;
        padding: 30px;
    }

    .footer_logo{
        display: block;
        margin-bottom: 30px;
    }

    .footer_logo > img{
        display: block;
        width: 110px;
    }

    .footer_copyright{
        display: block;
        overflow: hidden;
        padding: 0;
    }

    .footer_copyright>p{
        height: 50px;
    }

    .footer_copyright>p:nth-child(3){
        display: none;
    }


    



}