@media (max-width: 1200px) {

    .mc_content > .form_position{
        width: 100vw;
        bottom: 0;
    }
    .form_position>form{
        width: 100vw;

    }

    .form_position>form>.box>select{
        width: 20vw;
        font-size: 13px;
        bottom: 9px;
        border-radius: 10px;
        right: 200px;
        left: 5px;
        height: 28px;
        box-shadow: none;
    }

    .form_position>form>#cover{
        left: -279px;
        width: 990px;
        height: 103px;
        bottom: -28px;
    }

    #s-circle{
        top: -30px;
        left: 0;
        width: 28px;
        height: 27px;
    }
    button span{
        top: 44px;
        left: 33px;
    }

    .td{
        width: 100%;
        height: 100%;
    }
    #cover>.tb>.td>input{
        width: 100%;
        height: 94px;
        position: relative;
    }
    #cover>.tb>.td>input:focus{
        outline: 0;
        /* border: none; */
        color: black;
	    text-shadow: 0px 0px 0px #555555;  
	    -webkit-text-fill-color: transparent;
    }

    /*게시글 list*/
    .board_list> thead > tr > th:nth-child(1) {
        width: 30vw;
    } 
    .board_list> thead > tr > th:nth-child(2) {
        width: 50vw;
    }
    .board_list> thead > tr > th:nth-child(3), 
    .board_list> thead > tr > th:nth-child(4),
    .board_list> thead > tr > th:nth-child(5) {
        width: 280px;
    }

    .tit{
        text-align: center !important;
    }

    .board_list>tbody>tr>td:nth-child(3),
    .board_list>tbody>tr>td:nth-child(4){
        font-size: 11px;
    }

    /*게시글 view*/
    .board_view > .title{
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
    }
    .info{
        padding: 7px;
    }
    .info>dl:nth-child(1){
        display: none;
    }
    .info>dl:nth-child(3){
        width: 200px;
    }
    .bt_wrap a{
        min-width: 55px;
        font-size: 15px;
        height: 13px;
        line-height: 14px;
    }
}