@media (max-width: 1200px) {
    
    #wrap {
        width: 100%;
    }
    #visual {
        display: none;
    }
    
    /*프로그램 부분*/
    #program{
        width: 100%;
        height: auto;
        margin-top: 50px;
        background: none;
    }
    #program>.w1200{
        width: 100%;
        height: auto;
    }
    .program_title{
        font-size: 20px;
    }
    .program_sub_title{
        display: none;
    }
    .program_list{
        width: 100%;
        height: auto;
    }
    .program_list>ul{
        display: block;
    }
    .card{
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        background: none;
    }
    .card>a>img{
        width: 80vw;
    }
    .card>a:nth-child(2){
        display: none;
    }
    
    /*review*/
    #reviews{
        margin-top: 30px;
    }
    #reviews{
        width: 100% !important;
        height: auto;
    }

    #reviews > .w1200
    {
        width: 100%;
        height: auto;
        padding: 44px;
        box-sizing: border-box;
    }


    /*연락망*/
    #location{
        display: none;
    }

    #consult,
    #consult > .w1200{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .consultInnerWrap{
        width: 100%;
        height: 250px;
        overflow: hidden;
        padding: 30px 65px;
    }

    .consultText{
        font-size: 21px;
        margin-bottom: 20px;
    }
   
    .consultText>span{
        display: block;
    }

    .consultBtn{
        width: 130px;
        height: 55px;
        float: left;
    }

    

    



}