@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#curr_info{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top:150px ;
  box-sizing: border-box;
}

#curr_sbj{
  width: 100vw;
  /* position: relative; */
}

#rv_head{ 
  position: sticky;
  color: #000;
  padding-left: 4vw;
  padding-bottom: 10vh;
  top:20px; 
  z-index: 200;
  font-size: 50px;
}

#curr_rv{
  margin-top: 30vh;
  width: 100vw;
  
}

.sbj-img {
  float: left;
  max-width: 50vw;
  height: auto;
}



.subject_image {
  float: left;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s;
}

.visable {
  opacity: 1;
}

#scroll_image {
  position: sticky;
  top: 10vh;
  width: 50vw;
  height: 100vh;
  z-index: 4;
}

#head{ 
  position: sticky;
  color: #000;
  padding-top: 3vh;
  padding-left: 4vw;
  top:0px; 
  z-index: 200;
  font-size: 50px;
}

#scroll-text {
  width: 50vw;
  position: relative;
  float: right;
  z-index: 100;
}

.subject_text {
  box-sizing: border-box;
  margin-bottom:  60vh;
  margin-left: 55vw;
  width: 40vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative;
  z-index: 90;
  /* border: 5px solid #1566c3; */
  border-radius: 50px;
}

.sbj-img {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.subject_text>strong{
  color: #000;
  display: block;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 50px;
  box-sizing: border-box;
  font-family: 'NanumSquareRound';
}

.subject_text>div{
  color: #000;
  font-size: 30px;
  line-height: 50px;
  font-family: 'NanumSquareRound';
  font-weight: bolder;
} 


#temp{ width: 50vw;
  height: 30vh;
  opacity: 0;
}

.name{
  position: absolute;
  left: -78vw;
  width: 78vw;
  height: 10vh;
  display: block;
  font-size: 7vh;
  margin-bottom: 7vh;
  text-align: right;
  background-color: #000;
  color: white;
  float: left;
  border-radius: 0  7vh 7vh 0;
  line-height: 10vh;
  padding-top: 3vh;
  padding-right: 80px;
  padding-bottom: 3vh;
  animation: 2s moveright ;
  animation-fill-mode: forwards;
  font-family: 'NanumSquareRound';
}


@keyframes moveright{
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 78%;
  }
}


.curr_content{
  position: absolute;
  right: -75vw;
  top:40vh; 
  width: 80vw;
  height: auto; 
  overflow: hidden;
  color: white; 
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  text-align: left;
  border-radius: 12vh 0  0 12vh;
  animation: 2s moveleft ;
  animation-fill-mode: forwards;
  font-family: 'NanumSquareRound';
}

@keyframes moveleft{
  from {
    right: -75vw;
    /* margin-right: 0%; */
  }

  to {
    right: 0;
    /* margin-right: 65%; */
  }
}


.curr_content>div>div{
  display: block;
  width: 50vw;
  height: auto;
  overflow: hidden;
  float: left;
  padding-left: 100px;
  font-size: 3vh;
  margin-bottom: 1vh;
}

.rv_card{ 
    width: 80vw;
    height: 30vh;
    margin-bottom:20vh; 
    margin-left: 15vw;
}

.rv_image_box{
  float: left;
  width: 20vw;
  height: 30vh;
}

.rv_text_box{
  float: left;
  margin-left: 7vw;
  width: 50vw;
  height: 30vh;
  box-sizing: border-box;
  border-radius: 7vh;
  border: 5px solid black;
  padding: 3vh;
}


.rv_image{ 
  width: 20vw;
  height: 30vh;
}

.picto_1{
  filter: invert(88%) sepia(21%) saturate(2642%) hue-rotate(7deg) brightness(96%) contrast(105%);
}

.picto_2{
  filter: invert(79%) sepia(78%) saturate(1067%) hue-rotate(70deg) brightness(99%) contrast(106%);

}

.picto_3{
  filter: invert(31%) sepia(46%) saturate(3902%) hue-rotate(313deg) brightness(102%) contrast(101%);

}

.picto_4{ 
  filter: invert(25%) sepia(100%) saturate(1601%) hue-rotate(198deg) brightness(93%) contrast(86%);
}

.rv_text_box>span{
  display: block; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2vh;
}

.rv_text_box>p{
  font-size: 20px;
  font-weight:600;
} 


#curr_consult{
  margin-top: 50vh;
  width: 100vw;
  height: 70vh;

}

#curr_consult>p{
  margin: 0 auto;
  width: 80vw;
  font-size: 40px;
  padding-bottom: 7vh;
}

#curr_consult>a{
  margin: 0 auto; 
  width: 40vw;
    text-align: center;
    display: block;
    background-color: black;
    color:white;
    padding: 2vh 4vh ;
    font-size: 80px;
}






