{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}
<link rel="stylesheet" href="/css/subpage/community/review.css">

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        {{title}}
    </div>
    <div class="mc_content board_list_wrap">
        <table class="board_list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>작성자</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pageinfo.result %}
                <tr>
                    <td>{{item.num}}</td>
                    {% if search_type==undefined %}
                    <td class="tit"><a
                            href="/community/{{board_name}}/view?page={{page}}&id={{item.id}}">{{item.subject}}</a>
                    </td>
                    {% else %}
                    <td class="tit"><a
                        href="/community/{{board_name}}/view?page={{page}}&id={{item.id}}&search_type={{search_type}}&search_value={{search_value}}">{{item.subject}}</a>
                    </td>
                    {% endif %}
                    <td>{{item.date}}</td>
                    <td>{{item.writer_user.username}}</td>
                    <td>{{item.hit}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% if search_type==undefined %}
        <div class="paging">
            <a href="/community/{{board_name}}/list?page=1">처음</a>
            {% if pageinfo.prev %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.prev}}">이전</a>
            {% endif %}
            {% for item in pageinfo.nowpageblock %}
            <a href="/community/{{board_name}}/list?page={{item}}" class="sbt" id="page_item">{{item}}</a>
            {% endfor %}
            {% if pageinfo.next %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.next}}">다음</a>
            {% endif %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.end}}">끝</a>
        </div>
        {% else %}
        <div class="paging">
            <a href="/community/{{board_name}}/list?page=1&search_type={{search_type}}&search_value={{search_value}}">처음</a>
            {% if pageinfo.prev %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.prev}}&search_type={{search_type}}&search_value={{search_value}}">이전</a>
            {% endif %}
            {% for item in pageinfo.nowpageblock %}
            <a href="/community/{{board_name}}/list?page={{item}}&search_type={{search_type}}&search_value={{search_value}}" class="sbt" id="page_item">{{item}}</a>
            {% endfor %}
            {% if pageinfo.next %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.next}}&search_type={{search_type}}&search_value={{search_value}}">다음</a>
            {% endif %}
            <a href="/community/{{board_name}}/list?page={{pageinfo.end}}&search_type={{search_type}}&search_value={{search_value}}">끝</a>
        </div>
        {% endif %}
        <form action="/community/review" method="post">
            <div class="box">
                <select name="search_type">
                    <option value="subject">제목</option>
                    <option value="content">내용</option>
                    <option value="username">작성자</option>
                </select>
                <input type="hidden" name="board_name" value="{{board_name}}">
                <input type="text" name="search_value">
                <button type="submit" style="padding: 0px 10px 2px 10px;" >검색</button>
            </div>
        </form>

    </div>
</div>
<!--menu_contents end-->
<script>
    // 해당 페이지 밑에 표시됨
    const page_item = document.querySelectorAll('#page_item'); 
    const pagenum = '{{pageinfo.nowpageblock}}'
    const page = '{{page}}'

    let num= [];
    num = pagenum.split(',');
    
    for(i=0; i<num.length; i++){
        if(page == num[i]){
            page_item[i].style.color = 'red'
        }
    }
</script>

{% include "../layout/subpage_bottom.html" %}