{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        {{title}}
    </div>
    <div class="mc_content board_list_wrap">
        <table class="board_list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr> 
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    
                    <td>{{item.num}}</td>
                    <td>{{item.writer_user.username}}</td>
                    <td class="tit"><a href="/community/review_view?page={{page}}&id={{item.id}}&num={{item.num}}">{{item.subject}}</a></td>
                    <td>{{item.date}}</td>
                    <td>{{item.hit}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="paging">
            <a href="/community/{{board_name}}/list?page=1">처음</a>
            {% if prev %}
            <a href="/community/{{board_name}}/list?page={{prev}}">이전</a>
            {% endif %}
            {% for item in nowpageblock %}
            <a href="/community/{{board_name}}/list?page={{item}}" class="sbt">{{item}}</a>
            {% endfor %}
            {% if next %}
            <a href="/community/{{board_name}}/list?page={{next}}">다음</a>
            {% endif %}
            <a href="/community/{{board_name}}/list?page={{end}}">끝</a>

        </div>
        
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}