{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        {{title}}
    </div>
    <div class="mc_content">
        {% for item in result %}
          {{item.num}}
          {{item.writer}}
          <a href="/community/{{board_name}}/view?id={{item.id}}">{{item.subject}}</a>
          {{item.date}}
          {{item.hit}}
        {% endfor %}
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}