{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        수강후기
    </div>
    <div class="mc_content">
        <div>
  
            {{result.writer}}
            {{result.content}}
            {{result.date}}
            {{result.hit}}
        </div>

        <a href="/community/review?page={{page}}">목록</a>
       
    </div>
</div>
<!--menu_contents end-->



{% include "../layout/subpage_bottom.html" %}