{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        수강후기 수정
    </div>
    <div class="mc_content">
        <div>
            <table>
                <form action="/community/review_modify_submit?id={{id}}&page={{page}}&num={{num}}" method="post">
                    <tbody class="review_content">
                        <tr>
                            <th>제목</th>
                            <td>
                                <input type="text" name="review_title" class="review_input" id="review_title" value="{{result.subject}}">
                            </td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td>
                                {% if username %}
                                <input type="text" name="review_writer" class="review_input" id="review_writer" value="{{username}}"  readonly>
                                {% endif %}
                                {% if nickname %}
                                <input type="text" name="review_writer" class="review_input" id="review_writer" value="{{nickname}}"  readonly>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea name="review_content" class="review_input" id="review_content" cols="30" rows="10">{{result.content}}</textarea>
                            </td>
                        </tr>
                    </tbody>
            </table>
            <div class="reviewBtn_div">
                <a href="/community/review" class="cancelBtn_review">취소</a>
                <input type="submit" value="작성" id="review_submit" class="submitBtn">
            </div>
            </form>
        </div>
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}