{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_community_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        수강후기
    </div>
    <div class="mc_content">

        <ul>
            {% for item in result %}
            <li>
            {{item.num}}
            {{item.writer}}
            <a href="/community/review_view?page={{page}}&id={{item.id}}">{{item.subject}}</a>
            {{item.date}}
            {{item.hit}}
        </li>
          {% endfor %}
        </ul>

        <div>
            <a href="/community/review?page=1">처음</a>
            {% if prev %}
            <a href="/community/review?page={{prev}}">이전</a>
            {% endif %}
            {% for item in nowpageblock %}
            <a href="/community/review?page={{item}}">{{item}}</a>
            {% endfor %}
            {% if next %}
            <a href="/community/review?page={{next}}">다음</a>
            {% endif %}
            <a href="/community/review?page={{end}}">끝</a>

        </div>

        {% if userid != undefined%}
        <div>
            <a href="/community/review_write">작성하기</a>
        </div>
        {% endif %}
            
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}