
li{
    list-style:none;
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    }

  .l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
  }

  .form{
    width: 760px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
  }

  .btn-primary {
    color: #fff;
    background-color: #2066ce;
    border-color: #80abeb;
  }

  input {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }

  input:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }

  .inputWithIcon input:focus + i {
    color: dodgerBlue;  
  }
  .inputWithIcon.inputIconBg input:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  
  input:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }

  .inputWithIcon input:focus + i {
    color: dodgerBlue;  
  }
  .inputWithIcon.inputIconBg input:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }

  .form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: dodgerBlue;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    border: 1px solid dodgerBlue;
    margin: 50px auto;
    width: 25%;
  }
  .form__button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  
  /* <젤리박스> */
   
  .checkbox input {display:none;}
  .checkbox span {display:inline-block;vertical-align:middle;cursor:pointer;}
  .checkbox .icon {position:relative;width: 17px;height: 17px;border: 1px solid #c8ccd4;border-radius: 3px;transition: background 0.1s ease;}
  .checkbox .icon::after {content: '';position: absolute;top: 1px;left: 5px;width: 5px;height: 11px;border-right: 2px solid #fff;border-bottom: 2px solid #fff;transform: rotate(45deg) scale(0);transition: all 0.3s ease;transition-delay: 0.15s;opacity: 0;}
  .checkbox .text {margin-left: 5px;}
  
  .checkbox input:checked ~ .icon {border-color: transparent;background: dodgerBlue;animation: jelly 0.6s ease;}
  .checkbox input:checked ~ .icon::after {opacity: 1;transform: rotate(45deg) scale(1);
  }
  
  @keyframes jelly {
      from {transform: scale(1, 1);}
      30% {transform: scale(1.25, 0.75);}
      40% {transform: scale(0.75, 1.25);}
      50% {transform: scale(1.15, 0.85);}
      65% {transform: scale(0.95, 1.05);}
      75% {transform: scale(1.05, 0.95);}
      to {transform: scale(1, 1);}
  }

/* user_info css*/

.fonts{
font-size: large;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
a{
  background:dodgerBlue;
  color:#fff;
  position:relative;
  height:40px;
  float: right;
  border-radius: 15px;
  font-size:1.3em;
  padding:0 2em;
  margin: 0 3px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-decoration-line: none;
  line-height: 40px;
}
a:hover{
  background:#fff;
  color:dodgerBlue;
}
a:before,a:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: dodgerBlue;
  transition:400ms ease all;
}
a:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
a:hover:before,a:hover:after{
  width:100%;
  transition:800ms ease all;
}

.button{
  background:dodgerBlue;
  color:#fff;
  position:relative;
  height:40px;
  float: right;
  border-radius: 15px;
  font-size:1.3em;
  padding:0 2em;
  margin: 0 3px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-decoration-line: none;
}
.button:hover{
  background:#fff;
  color:dodgerBlue;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: dodgerBlue;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.button_mody{
  width: 18%;
}

.user_modi{
  height: 55px;
  font-size: 23px;
}