<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/join.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Document</title>
</head>


<body>

    <form action="/user/join_success" method="post">
        <div class="l-form">
            <ul class="form">
                <h1>경일아카테미 가입하기</h1>
                <li class="inputWithIcon inputIconBg">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="이름을 입력해주세요" required>
                    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>

                </li>
                <li class="inputWithIcon">
                    <label for="useremail"></label>
                    <input type="email" name="useremail" id="useremail" placeholder="이메일을 입력해주세요" required>
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </li>
                <li class="userlevel_li">
                    <label for="userlevel_teacher">교직원</label>
                    <input type="radio" name="userlevel" id="userlevel_teacher" value="2" required>
                    <label for="userlevel_student">학생</label>
                    <input type="radio" name="userlevel" id="userlevel_student" value="3">
                </li>
                <li class="inputWithIcon inputIconBg">
                    <label for="userid"></label>
                    <input type="text" name="userid" id="userid" placeholder="사용할 아이디를 입력해주세요" required>
                    <i class="far fa-id-card fa-lg fa-fw" aria-hidden="true"></i>
                    <p id="userid_msg"></p>
                </li>
                <li class="inputWithIcon">
                    <label for="userpw"></label>
                    <input type="password" name="userpw" id="userpw" placeholder="사용할 비밀번호를 입력해주세요" required>
                    <i class="fas fa-key fa-lg fa-fw"></i>

                    <p id="userpw_msg"></p>
                </li>
                <li class="inputWithIcon inputIconBg">
                    <label for="userpw"></label>
                    <input type="password" name="userpw_check" id="userpw_check" placeholder="비밀번호를 재입력해주세요" required>
                    <i class="fas fa-key fa-lg fa-fw"></i>

                </li>
                <li class="inputWithIcon">
                    <label for="user_birthday"></label>
                    <input type="date" name="user_birthday" id="user_birthday" required>
                    <i class="fas fa-birthday-cake fa-lg fa-fw"></i>

                </li>
                <li class="inputWithIcon inputIconBg">
                    <label for="user_tel"></label>
                    <input type="tel" name="user_tel" id="user_tel" placeholder="핸드폰번호를 입력해주세요" required>
                    <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
        
                </li>
                <li class="class_code_li">
                    <p> 과목 코드 : <i class="fab fa-get-pocket fa-lg fa-fw"></i> </p>
                    {% for item in curr %}
                    <label class="checkbox" for="curr{{item.id}}">
                        <input type="radio" name="class_code" value="{{item.id}}" id="curr{{item.id}}" required>
                        <span class="icon"></span> {{item.name}} </br>
                    </label>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <input type="submit" class="form__button btn-primary" value="회원가입">
    </form>
    <script src="/js/consulting.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const userid = document.querySelector('#userid');
        const userid_msg = document.querySelector('#userid_msg');
        const userpw = document.querySelector('#userpw');
        const userpw_check = document.querySelector('#userpw_check');
        const userpw_msg = document.querySelector('#userpw_msg');
        const useremail = document.querySelector('#useremail');
        const userlevel_li = document.querySelector('.userlevel_li');
        const class_code_li = document.querySelector('.class_code_li');
        const userlevel_teacher = document.querySelector('#userlevel_teacher');
        const userlevel_student = document.querySelector('#userlevel_student');

        //아이디 중복
        async function userid_check() {
            let idData = await axios.get(`http://localhost:3000/user/id_check?userid=${userid.value}`)

            let login_flag = idData.data.login;

            if (login_flag) {
                userid_msg.innerHTML = '사용가능한 아이디 입니다';
                userid_msg.color = 'green';
                userid_msg.display = 'block';
            } else {
                userid_msg.innerHTML = '이 아이디는 사용이 불가합니다';
                userid_msg.color = 'red';
                userid_msg.display = 'block';
            }
        }

        userid.addEventListener('focusout', () => {
            userid_check();
        })

        //비밀번호 동일체크
        function pw_check() {
            if (userpw.value != userpw_check.value) {
                userpw.value = '';
                userpw_check.value = '';
                userpw_msg.innerHTML = '비밀번호가 일치하지 않습니다';
                userpw.focus();
            } else {
                userpw_msg.innerHTML = '비밀번호가 일치합니다';
            }
        }
        userpw_check.addEventListener('focusout', () => {
            pw_check();
        })

        
        // 교직원 학생 구분
        userlevel_student.addEventListener('change',()=>{
            if(userlevel_student.checked){
                class_code_li.style.display = 'block'
            }
        })
        userlevel_teacher.addEventListener('change',()=>{
            if(userlevel_teacher.checked){
                class_code_li.style.display = 'none'
            }
        })

    </script>

</body>

</html>