<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/join.css">
</head>

<body>
    <form action="/user/join_success" method="post">
        <div>
            <ul>
                <li>
                    <label for="username">이름 :</label>
                    <input type="text" name="username" id="username" placeholder="이름을 입력해주세요" required>
                </li>
                <li>
                    <label for="useremail">이메일 :</label>
                    <input type="email" name="useremail" id="useremail" placeholder="이메일을 입력해주세요" required>
                </li>
                <li>
                    <label for="userid">아이디 :</label>
                    <input type="text" name="userid" id="userid" placeholder="사용할 아이디를 입력해주세요" required>
                    <p id="userid_msg"></p>
                </li>
                <li>
                    <label for="userpw">비밀번호 :</label>
                    <input type="password" name="userpw" id="userpw" placeholder="사용할 비밀번호를 입력해주세요" required>
                    <p id="userpw_msg"></p>
                </li>
                <li>
                    <label for="userpw">비밀번호 확인 :</label>
                    <input type="password" name="userpw_check" id="userpw_check" placeholder="비밀번호를 재입력해주세요" required>
                </li>
                <li>
                    <label for="user_birthday">생일 :</label>
                    <input type="date" name="user_birthday" id="user_birthday" required>
                </li>
                <li>
                    <label for="user_tel">전화번호 :</label>
                    <input type="text" name="user_tel" id="user_tel" required>
                </li>
                <li>
                    <p> 과목 코드 : </p>
                    {% for item in curr %}
                    <label for="curr{{item.id}}">{{item.name}}</label>
                    <input type="radio" name="class_code" value="{{item.id}}" id="curr{{item.id}}" required>

                    {% endfor %}

                    
                </li>
            </ul>
        </div>
        <input type="submit" value="가입">
    </form>
    <script src="/js/consulting.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const userid = document.querySelector('#userid');
        const userid_msg = document.querySelector('#userid_msg');
        const userpw = document.querySelector('#userpw');
        const userpw_check = document.querySelector('#userpw_check');
        const userpw_msg = document.querySelector('#userpw_msg');
        const useremail = document.querySelector('#useremail');

        //아이디 중복
        async function userid_check() {
            let idData = await axios.get(`http://localhost:3000/user/id_check?userid=${userid.value}`)

            let login_flag = idData.data.login;

            if (login_flag) {
                userid_msg.innerHTML = '사용가능한 아이디 입니다';
                userid_msg.color = 'green';
                userid_msg.display = 'block';
            } else {
                userid_msg.innerHTML = '이 아이디는 사용이 불가합니다';
                userid_msg.color = 'red';
                userid_msg.display = 'block';
            }
        }

        userid.addEventListener('focusout', () => {
            userid_check();
        })

        //비밀번호 동일체크
        function pw_check() {
            if (userpw.value != userpw_check.value) {
                userpw.value = '';
                userpw_check.value = '';
                userpw_msg.innerHTML = '비밀번호가 일치하지 않습니다';
                userpw.focus();
            } else {
                userpw_msg.innerHTML = '비밀번호가 일치합니다';
            }
        }
        userpw_check.addEventListener('focusout', () => {
            pw_check();
        })
    </script>
</body>

</html>