<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/main.css">
  <link rel="stylesheet" href="/admin/css/curr.css">
  <script src="/admin/js/thumbnail.js" type="text/javascript"></script>
</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./curr_snb.html" %}
      <div id="main">
        <form id="form" action="/admin/curriculum/curr/control" method="post" enctype="multipart/form-data">
          <div id="curr_spec">
            <h3>교육과정 기본</h3>
            <input type="hidden" name='id' value="{{spec.id}}">
            <ul>
              <li>
                <label for="curr_name">교육과정명:</label>
                <input type="text" name="name" value="{{spec.name}}" id="curr_name" required>
              </li>
              <li>
                <label for="curr_info">교육과정 소개:</label>
                <input type="text" name="info" value="{{spec.info}}" id="curr_info" required>
              </li>
              <li>
                <label for="curr_term">교육기간: </label>
                <input type="text" name='term' value="{{spec.term}}" id="curr_term" required>
              </li>
              <li>
                <label for="curr_start_time">교육 시작시간 :</label>
                <input type="time" name="start_time" value="{{spec.start_time}}" id="curr_start_time" required>
              </li>
              <li>
                <label for="curr_end_time">교육 종료시간 :</label>
                <input type="time" name="end_time" value="{{spec.end_time}}" required>
              </li>
              <li>
                <label for="curr_location">교육장소 :</label>
                <input type="text" name="location" value="{{spec.location}}" required>
              </li>
              <li>
                <label for="curr_tuition">수강료 :</label>
                <input type="text" name="tuition" value="{{spec.tuition}}" required>
              </li>
              <li>
                <label for="curr_spec">자격 요건:</label>
                <input type="text" name="qual" value="{{spec.qual}}" required>
              </li>
              <li>
                <p>이미지 : </p>
                <div id="thumbnail">
                  <img src="http://localhost:3001/{{spec.image}}" alt="교육과정 대표 이미지">
                </div>
                <input type="file" accept="image/*" name="img" onchange="setThumbnail(event);"><br>
                <input type="hidden" name="origin_image" value="{{spec.image}}">
                <div id="thumbnail"></div>
              </li>
            </ul>
          </div>

          <div id="curr_sub">
            <h3>교육과정 교과목 설정</h3>
            <div id="now_subbox">
              <span>{{spec.name}} 교과목</span>
              <ul id="now_sub">
                {% for item in sorted %}
                {% if item.show==1 %}
                <li style="display: block;" id="selected{{item.id}}">
                  <input type="hidden" value="{{item.id}}">
                  <div class="show_subname">
                    <pre>{{item.name}}</pre>
                  </div>
                  <div class="updownBox">
                    <input type="button" value="▲" onclick="upList();">
                    <input type="button" value="▼" onclick="downList();">
                  </div>
                  <div class="dlt_sub">
                    <input type="button" value="삭제" onclick="dltSub();">
                  </div>
                </li>
                {% else %}
                <li style="display: none;" id="selected{{item.id}}">
                  <input type="hidden" value="{{item.id}}">
                  <div class="show_subname">
                    <pre>{{item.name}}</pre>
                  </div>
                  <div class="updownBox">
                    <input type="button" value="▲" onclick="upList();">
                    <input type="button" value="▼" onclick="downList();">
                  </div>
                  <div class="dlt_sub">
                    <input type="button" value="삭제" onclick="dltSub();">
                  </div>
                </li>

                {% endif %}
                {% endfor %}
              </ul>
            </div>

            <div id="all_subbox">
              <span>전체 교과목</span>
              <ul id="all_sub">
                {% for item in originsbj %}
                <li style="display: block;">
                  <input type="hidden" id="sub_id" value="{{item.id}}">
                  <input type="hidden" id="sub_content" value="{{item.content}}">
                  <div class="show_subname">
                    <pre onclick="showdetail()">{{item.name}}</pre>
                  </div>
                  <div class="add_sub">
                    <input type="button" value="추가" onclick="showdetail();addSub()">
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div id="sbj_detail_box">
                <span>자세히 보기</span>
                <div id="sbj_detail_name"></div>
                <pre id="sbj_detail"></pre>
              </div>
            </div>
          </div>


          <div id='curr_rv'>
            <h3>교육과정 수강후기 설정</h3>
            <table>
              <thead>
                <td> 제목</td>
                <td>작성자 이름</td>
                <td>작성자 아이디</td>
                <td>작성일</td>
                <td>조회수</td>
              </thead>
              <tbody>
                <input type="hidden" value="{{select_rv}}" id="select_review">
                {% for item in review %}
                <tr>
                  <input type="hidden" value="{{item.content}}">
                  <td class="td_subject">
                    {{item.subject}}
                  </td>
                  <td>{{item.writer_user.username}}</td>
                  <td>{{item.writer}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.hit}}</td>
                  {% if item.check %}
                  <td><input class="select_rv" type="checkbox" value="{{item.id}}" checked></td>
                  {% else %}
                  <td><input class="select_rv" type="checkbox" value="{{item.id}}"></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div id="rv_detail_box">
              <span>자세히 보기</span><br>
              제목: <div id="rv_detail_subject"></div>
              작성자: <div id="rv_detail_name"></div>
              내용:<div id="rv_detail"></div>
            </div>

          </div>


          <input class="admin_button" type="button" value="등록" onclick="postcurr()">
        </form>
      </div>
    </div>
  </div>



  <script src="/admin/js/curr.js" type="text/javascript"></script>
</body>

</html>