<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
<link rel="stylesheet" href="/css/subpage/community/review.css">
<link rel="stylesheet" href="/admin/css/index.css">
<link rel="stylesheet" href="/admin/css/main.css">
<link rel="stylesheet" href="/admin/css/curr.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./curr_snb.html" %}
      <div id="main" class="board_list" >
        <a class="admin_button" href="/admin/curriculum/subject/add">교과목 추가</a>

        <table>
          <thead>
            <td>교과목</td>
            <td>내용</td>
            <td>이미지</td>
            <td>수정</td>
            <td>삭제</td>
          </thead>
          <tbody>
            {% for item in result %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.content}}</td>
              <td><img src="http://13.209.126.185:3000/{{item.image}}" alt=""></td>
              <td><a class="admin_button" href="/admin/curriculum/subject/modify?id={{item.id}}">수정</a></td>
              <td><a class="admin_button" href="/admin/curriculum/subject/destroy?id={{item.id}}">삭제</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
       
      </div>
    </div>
  </div>

 

  
</body>
</html>