<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./job_snb.html" %}
      <div id="main">

        <div>
          <h2>{{title}}</h2>
          <table>
            <thead>
              <td>글번호</td>
              <td>제목</td>
              <td>등록일</td>
              <td>작성자</td>
              <td>조회수</td>
            </thead>
            <tbody>
              {% for item in pageinfo.result %}
              <tr>
                <td>{{item.num}}</td>
                <td>
                  <a href="/admin/job/{{board_name}}/view?id={{item.id}}&page={{page}}">{{item.subject}}</a>
                </td>
                <td>{{item.date}}</td>
                <td>{{item.writer_user.username}}</td>
                <td>{{item.hit}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


          <a href="/admin/job/{{board_name}}/write">글 작성</a>
        </div>


        
        <div class="paging">
          <a href="/admin/job/{{board_name}}?page=1">처음</a>
          {% if pageinfo.prev %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.prev}}">이전</a>
          {% endif %}
          {% for item in pageinfo.nowpageblock %}
          <a href="/admin/job/{{board_name}}?page={{item}}" class="sbt">{{item}}</a>
          {% endfor %}
          {% if pageinfo.next %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.next}}">다음</a>
          {% endif %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.end}}">끝</a>

      </div>
    </div>
  </div>




</body>

</html>