<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/css/subpage/community/review.css">
  <link rel="stylesheet" href="/admin/css/index.css">

</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./job_snb.html" %}
      <div id="main" class="board_list_wrap">

        <div class="board_list">
          <h2>{{title}}</h2>
          <table>
            <thead>
              <td>글번호</td>
              <td>제목</td>
              <td>등록일</td>
              <td>작성자</td>
              <td>조회수</td>
            </thead>
            <tbody>
              {% for item in pageinfo.result %}
              <tr>
                <td>{{item.num}}</td>
                {% if search_type==undefined %}
                    <td><a href="/admin/job/{{board_name}}/view?id={{item.id}}&page={{page}}&num={{item.num}}">{{item.subject}}</a></td>
                    {% else %}
                    <td ><a href="/admin/job/{{board_name}}/view?page={{page}}&id={{item.id}}&num={{item.num}}&search_type={{search_type}}&search_value={{search_value}}">{{item.subject}}</a></td>
                    {% endif %}
                <td>{{item.date}}</td>
                <td>{{item.writer_user.username}}</td>
                <td>{{item.hit}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


          <a href="/admin/job/{{board_name}}/write">글 작성</a>
        </div>


        <div class="paging">
          {% if search_type==undefined %}
          <a href="/admin/job/{{board_name}}?page=1">처음</a>
          {% if pageinfo.prev %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.prev}}">이전</a>
          {% endif %}
          {% for item in pageinfo.nowpageblock %}
          <a href="/admin/job/{{board_name}}?page={{item}}" class="sbt">{{item}}</a>
          {% endfor %}
          {% if pageinfo.next %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.next}}">다음</a>
          {% endif %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.end}}">끝</a>
          
          {% else %}
          <a href="/admin/job/{{board_name}}?page=1&search_type={{search_type}}&search_value={{search_value}}">처음</a>
          {% if pageinfo.prev %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.prev}}&search_type={{search_type}}&search_value={{search_value}}">이전</a>
          {% endif %}
          {% for item in pageinfo.nowpageblock %}
          <a href="/admin/job/{{board_name}}?page={{item}}&search_type={{search_type}}&search_value={{search_value}}" class="sbt">{{item}}</a>
          {% endfor %}
          {% if pageinfo.next %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.next}}&search_type={{search_type}}&search_value={{search_value}}">다음</a>
          {% endif %}
          <a href="/admin/job/{{board_name}}?page={{pageinfo.end}}&search_type={{search_type}}&search_value={{search_value}}">끝</a>

          {% endif %}

      </div>
      
      <form action="/admin/job/{{board_name}}" method="post">
        <select name="search_type">
          <option value="subject">제목</option>
          <option value="content">내용</option>
          <option value="username">작성자</option>
        </select>
        <input type="hidden" name="board_name" value="{{board_name}}">
        <input type="text" name="search_value">
        <input type="submit" value="검색">
      </form>
    </div>
  </div>




</body>

</html>