<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/css/index.css">

  <title>{{result.subject}} 수정</title>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded',()=>{
    const hidden_content = document.querySelector('#hidden_content');
    const content = document.querySelector('#summernote');
      content.innerHTML = `${hidden_content.value}`; 
    })
  </script>
</head>
<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./job_snb.html" %}
      <div id="main">

        <div>
          <div>{{result.subject}} 수정</div>
          <form id="form" action="/admin/job/{{board_name}}/modify" method="post">
          <div>
  
          </div>
            <input type="hidden" name='id'  value="{{result.id}}">
            <!-- 작성자 이름 쓰는 곳 추가하기. -->
            제목:<input type="text" name='subject'  value="{{result.subject}}">
            {% include "./summernote_modify.html" %}
          </form>
        </div>
          
    

 
      </div>
    </div>
  </div>

  
  {% if result.class_code %}
  <script type="text/javascript">
  let code = document.querySelector('#code').value; 
  let check = document.querySelector('#curr'+code); 
  check.checked='checked'; 
  </script>
  {% endif %}
  
  
</body>
</html>
