<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>

<body>
  <div id="wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./job_snb.html" %}
      <div id="main">

 
          <div >
            <div>{{title}} 작성</div>
            <form id="form" action="/admin/job/{{board_name}}/write" method="POST">
              제목:<input type="text" name='subject' id="subject">
              {% include "./summernote.html" %}
            </form>
        
          </div>
          
    


      </div>
    </div>
  </div>




</body>

</html>


