<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/main.css">
  <link rel="stylesheet" href="/css/subpage/community/review.css">


</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./main_snb.html" %}

      <div id="main" class="board_list"  >

        <h3>메인페이지 수강후기 설정</h3>
        <table id="main_rv_table">
          <thead>
            <th> 제목</th>
            <th>작성자 이름</th>
            <th>작성자 아이디</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>메인페이지 표시</th>
          </thead>
          <tbody>
            <!-- <input type="hidden" value="{{select_rv}}" id="select_review"> -->
              {% for item in rv %}
              <tr>
                <input type="hidden" id="content{{item.id}}" value="{{item.content}}">  
                <td id='subject{{item.id}}' onclick="show_details(`{{item.id}}`)">
                  {{item.subject}}
                </td>
                <td id="username{{item.id}}">{{item.writer_user.username}}</td>
                <td>{{item.writer}}</td>
                <td>{{item.date}}</td>
                <td>{{item.hit}}</td>
                {% if item.check %}
                <td><input class="select_rv" type="checkbox" value="{{item.id}}" id="check{{item.id}}" checked></td>
                {% else %}
                <td><input class="select_rv" type="checkbox" value="{{item.id}}" id="check{{item.id}}"></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div id="rv_detail_box">
            <span>자세히 보기</span><br>
            제목: <span id="rv_detail_subject"></span><br>
            작성자: <span id="rv_detail_name"></span><br>
            내용: <span id="rv_detail"></span>
          </div>

          <input id="main_rv_submit_btn" type="button" value="적용" onclick="update_mainrv()">

      </div>
     

        
      </div>

    </div>
  </div>
  <script src="/admin/js/main_rv.js" type="text/javascript"></script>
  <script src="/admin/js/curr.js" type="text/javascript"></script>

</body>
</html>