<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <script src="/admin/js/thumbnail.js" type="text/javascript"></script>
</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./main_snb.html" %}
      <div id="main">
        <form action="/admin/main/mainvisual/create" method="post" enctype="multipart/form-data">
          <div id="thumbnail"></div>
          이미지:<input type="file" accept="image/*"  name ="img" onchange="setThumbnail(event);" required><br>
          링크 주소: <input type="text" name="link" required>
          <input type="submit" value="등록">
          </form>
      </div>

    </div>
  </div>
</body>
</html>