<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./main_snb.html" %}
      <div id="main">
        <div>
          <ul id="visual_box">
            {% for item in result %}
            <li>
              <input type="hidden" value="{{item.id}}">
              <div><img src="http://localhost:3000/{{item.image}}"alt="슬라이드 이미지" width="400" height="300"></div>
              <div><a href="{{item.link}}">{{item.link}}</a></div>
              {% if item.show==1 %}
              <div><input type="checkbox" checked onclick="check()"></div>
              {% else %}
              <div><input type="checkbox" onclick="check()"></div>
              {% endif %}
              <div>
                <input type="button" name ="{{item.id}}" value="링크수정" onclick="link_update()">
                <input type="button" name ="{{item.id}}" value="삭제" onclick="destroy()">
              </div>
            </li>
            {% endfor %}
          </ul>

          <a href="/admin/main/mainvisual/add">슬라이드 이미지 추가</a>
        </div>
      </div>

    </div>
  </div>

  <script src="/admin/js/mainv.js" type="text/javascript"></script>

  <!-- <script type="text/javascript">
  function check(){
  console.log(this); 
}</script> -->
</body>
</html>