<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <link rel="stylesheet" href="/admin/css/main.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./main_snb.html" %}
      <div id="main">
        <a class="admin_button" href="/admin/main/mainvisual/add">슬라이드 이미지 추가</a>

        <table id='visual'>
          <thead>
            <th></th>
            <th>이미지</th>
            <th>링크</th>
            <th>공개</th>
            <th>수정/삭제</th>
          </thead>
          <tbody id="visual_box">
            {% for item in result %}
            <tr>
              <td><input type="hidden" value="{{item.id}}"></td>
              <td><div><img src="http://localhost:3000/{{item.image}}"alt="슬라이드 이미지" width="400" height="300"></div></td>
              <td><div><a href="{{item.link}}">{{item.link}}</a></div></td>
              {% if item.show==1 %}
              <td><input type="checkbox" checked onclick="check()"></td>
              {% else %}
              <td><input type="checkbox" onclick="check()"></td>
              {% endif %}
              <td>
                <input class="admin_button" type="button" name ="{{item.id}}" value="링크수정" onclick="link_update()">
                <input  class="admin_button" type="button" name ="{{item.id}}" value="삭제" onclick="destroy()">
            </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    </div>
  </div>

  <script src="/admin/js/mainv.js" type="text/javascript"></script>

  <!-- <script type="text/javascript">
  function check(){
  console.log(this); 
}</script> -->
</body>
</html>