<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gnb.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
		<div class="container">
			<h1><a href="../index.html"><!-- <img src="../images/common/top_logo01.png" alt="(주)경일직업능력개발원"> --><img src="../images/main_new/logo_new_2018.png" alt="(주)경일직업능력개발원"></a></h1>
			<!-- NAVIGATION -->
			<div class="gnb">
				<ul>
					<li><a href="../college/introduction.html">학교소개</a></li>
					<li><a href="../curriculum/curriculum.html">교육과정</a></li>
					<li><a href="../job/interview.html">취업정보</a></li>
					<li><a href="../community/notice.html">커뮤니티</a></li>
					<li><a href="../consult/consulting.html">상담신청</a></li>
					<!-- <li><a href="../consult/consulting.html">상담신청</a></li> -->
				</ul>
				<div class="snb_area">
					<div class="snb">
						<h2><img src="../images/common/snb_img.png" alt="서브메뉴"></h2>
						<ul>
							<li><a href="../college/introduction.html">인사말</a></li>
							<li><a href="../college/history.html">연혁</a></li>
							<li><a href="../college/teachers.html">교직원소개</a></li>
							<li><a href="../college/interior.html">시설소개</a></li>
							<li><a href="../college/location.html">오시는 길</a></li>
						</ul>
						<ul>
							<li><a href="../curriculum/curriculum.html">과정안내</a></li>
						</ul>
						<ul>
							<li><a href="../job/interview.html">취업자인터뷰</a></li>
							<li><a href="../job/recruit.html">취업현황</a></li>
							<li><a href="../job/portfolio.html">포트폴리오</a></li>
						</ul>
						<ul>
							<li><a href="../community/notice.html">공지사항</a></li>
							<li><a href="../community/review.html">수강후기</a></li>
							<li><a href="../community/ki_story.html">KI이야기</a></li>
							<li><a href="../community/ki_reporter.html">KI기자단</a></li>
							<li><a href="../community/ki_professor.html">교수칼럼</a></li>
							<li><a href="http://blog.naver.com/kigsnet" target="_blank">네이버블로그</a></li>
						</ul>
						<ul>
							<li><a href="../consult/consulting.html">상담게시판</a></li>
							<li><a href="../consult/apply.html">지원하기</a></li>
							<!-- <li><a href="../consult/consulting.html">상담게시판</a></li> -->
							<li><a href="../consult/faq.html">자주묻는질문</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //NAVIGATION -->
		</div>
	</div>
</body>
</html>