<footer id="footer" class="w100">
    <div class="footer_inner_div w1200">
        <div class="footer_logo">
            <img src="http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png" alt="경일footer로고">
        </div>
        <div class="footer_copyright">
            <p>서울특별시 강동구 천호대로 995 금복빌딩 3,4층 경일게임아카데미(지하철 5,8호선 1번출구 10m이내)</p>
            <p>TEL : 02-479-4050  FAX : 02-479-4056 대표자 : 박병준 개인정보관리책임자 : 서혁준</p>
            <p>사업자번호 : 212-81-89247 통신판매허가번호 : 제2020-서울강동-1360호</p>
            <p>Copyright © 2016. Kyungil Technical College. All rights reserved.</p>
        </div>
    </div>
</footer>