<!--menu pic start-->
<div id="menu_pic" class="w100">
    <div class="w1200">
        menu pic
    </div>
</div>
<!--menu pic end-->

<div class="sub_bottom w100">
    <div class="w1200">
        <!--sub navi start-->
        <div class="sub_navi">
            <div>
                <div class="sub_navi_title">
                    커뮤니티
                </div>
                <div class="sub_navi_content">
                    <ul>
                        <li><a href="/community/notice">공지사항</a></li>
                        <li><a href="/community/review">수강후기</a></li>
                        <li><a href="/community/ki_story">KI이야기</a></li>
                        <li><a href="/community/ki_reporter">KI기자단</a></li>
                        <li><a href="/community/ki_professor">교수칼럼</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--sub navi end-->