<!--menu pic start-->
<div id="menu_pic" class="w100">
    <div class="w100 college_menu_pic">
        menu pic
    </div>
</div>
<!--menu pic end-->

<div class="sub_bottom w100">
    <div class="w1200">
        <!--sub navi start-->
        <div class="sub_navi">
            <div>
                <div class="sub_navi_title">
                    학교소개
                </div>
                <div class="sub_navi_content">
                    <ul>
                        <li><a href="/college/introduction">인사말</a></li>
                        <li><a href="/college/history">연혁</a></li>
                        <li><a href="/college/teachers">교직원소개</a></li>
                        <li><a href="/college/interior">시설소개</a></li>
                        <li><a href="/college/location">오시는 길</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--sub navi end-->