<!--menu pic start-->
<div id="menu_pic" class="w100">
    <div class="w1200">
        menu pic
    </div>
</div>
<!--menu pic end-->

<div class="sub_bottom w100">
    <div class="w1200">
        <!--sub navi start-->
        <div class="sub_navi">
            <div>
                <div class="sub_navi_title">
                    취업정보
                </div>
                <div class="sub_navi_content">
                    <li><a href="/jobinfo/interview">취업자인터뷰</a></li>
                    <li><a href="/jobinfo/recruit">취업현황</a></li>
                    <li><a href="/jobinfo/portfolio">포트폴리오</a></li>
                </div>
            </div>
        </div>
        <!--sub navi end-->