<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index/gnb.css">
    <link rel="stylesheet" href="/css/index/footer.css">

    <link rel="stylesheet" href="/css/subpage/menu_pic.css">
    <link rel="stylesheet" href="/css/subpage/sub_navi.css">
    <link rel="stylesheet" href="/css/subpage/menu_contents.css">
    <link rel="stylesheet" href="/css/subpage/college/location.css">
    
    <link rel="stylesheet" href="/css/subpage/consult/consulting.css">
    <link rel="stylesheet" href="/css/subpage/community/review.css">
    <link rel="stylesheet" href="/css/subpage/community/review_view.css">
    <link rel="stylesheet" href="/css/subpage/curriculum/curriculum.css">
    
</head>

<body>
    <div class="wrap">
        <!--gnb start-->
        {% include "./gnb.html" %}
        <!--gnb end-->
                