<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인삿말 수정</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded',()=>{
    const content = document.querySelector('#content');
    const pre = document.querySelector('#summernote');
      pre.innerHTML = `${content.value}`; 
    })
  </script>
</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./info_snb.html" %}
      <div id="main">
        <h3>인사말 수정</h3>
        <form id="form" action="/admin/info/intro/modify" method="post">
    <div id="summernote_wrap">
      {% include "./summernote_modify.html" %}
    </div>
        </form>
      </div>
    </div>
  </div>

  
</body>
</html>