<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded',()=>{
    const hidden_content = document.querySelector('#hidden_content');
    const content = document.querySelector('#content');
      content.innerHTML = `${hidden_content.value}`; 
    })
  </script>

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./info_snb.html" %}
      <div id="main">
        <input type="hidden" id ='hidden_content' value="{{result.content}}">
        <span>인사말</span>
        <div id='content'></div>
        
        <a href="/admin/info/intro/modify">수정하기</a>
      </div>
    </div>
  </div>

  
</body>
</html>