<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./info_snb.html" %}
      <div id="main">
        <span>{{result.subject}}</span>
        <pre>{{result.content}}</pre>
        <span>{{result.writer}}</span>
        
        <a href="/admin/info/intro/modify">수정하기</a>
      </div>
    </div>
  </div>

  
</body>
</html>