<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "./info_snb.html" %}
      <div id="main">
        <form action="/admin/info/location/modify" method="post">
        주소: <input type="text" name="address" value="{{result.address}}"><br>
        전화번호: <input type="text" name="tel" value="{{result.tel}}"><br>
        팩스: <input type="text" name="fax" value="{{result.fax}}"><br>
        이메일: <input type="text" name="email" value="{{result.email}}"><br>
        버스: <input type="text" name="bus" value="{{result.bus}}"><br>
        지하철: <input type="text" name="subway" value="{{result.subway}}">
        <input  class="admin_button" type="submit" value="수정">
      </form>
      </div>

    </div>
  </div>

  <!-- <script src="/admin/js/.js" type="text/javascript"></script> -->

 
</body>
</html>