<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    최초 경매가와 마감일을 정하시오
    <br>
    가격&nbsp;&nbsp;<input type = "text" class = "priceInput"><br>
    기한&nbsp;&nbsp;<input type = "datetime-local" class = "timeInput">
    <button class = "btn">설정</button>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type= "text/javascript" src="/insert.js"></script>
</html>