.jobinfo_ul>li{
    float: left;
    width: 495px;
    height: 420px;
}

.jobinfo_ul > li > a > img {
    display: block;
    width: 350px;
    height: 250px;
}

.jobinfo_content_title{
    font-size: 30px;
    font-weight: bold;
}

