/*review_write start*/
*{
    margin: 0;
    padding: 0;
}


#review_content{
    width: 880px;
    height: 330px;
}

#review_writer{
    width: 300px;
}
.reviewBtn_div{
    text-align: right;
    padding-right: 36px;
}



.review_content>tr:nth-child(3)>th{
    padding: 5px 13px 296px 0px;
}
.review_content>tr>th{
    margin: 0 10px 0 10px;
    text-align: left;
    padding: 6px 33px 0 0px;
}


#review_submit{
    width: 100px;
    float: right;
}
.cancelBtn_review{
    width: 75px;
    height: 40px;
    background: white;
    border: 1px solid #6060d0de;
    border-radius: 7px;
    color: #6060d0de;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 7px;
}

.review_input:focus{
    border-color: dodgerblue;
    box-shadow:20px dodgerblue;
}


.review_input{
    width: 100%;
    border-radius: 15px;
    height: 40px;
    box-sizing: border-box;
    padding: 4px 11px;
    margin: 18px 0 0 0;
    color: #333;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    font-weight: 500;
    outline: dodgerblue;
}

/*review_write end*/

/*board css* start*/


table {
    border-collapse:collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list {
    width: 100%;
}

.board_list tr {
    border-bottom: 1px solid #999;
}

.board_list th,
.board_list td{
    padding: 10px 0;
    font-size: 14px;
}

.board_list td {
text-align: center;
}

.board_list .tit {
text-align: left;
width: 600px;
}

.board_list tbody tr td:nth-child(3) :hover{
    text-decoration: underline;
}

.board_list_wrap .paging{
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

.board_list_wrap .paging a{
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px; 
    border : 1px solid #000;
    font-size: 12px;
    background: #eee;
    border-radius: 500px;
}

.board_list_wrap .paging a.sbt{
    border-radius: 5px;
    font-weight: 600;
    background:none;
}

.board_list_wrap .paging a:first-child{
    margin-left: 0;
}

.board_list_wrap .paging a.sbt.on{
    border-radius: 27px;
    font-weight: 600;
    background: dodgerblue;
}
.writez{
    float: right;
}





.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: black;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: auto;
    width: 772px;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 1px 0px black, 0 0 0 4px #030303;
    transform: scale(0.23);
    position: absolute;
    left: 137px;
}

form
{
    height: 96px;
}

input[type="text"]
{  display: block;
    width: 118.5%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #cfd2d5;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #030303;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #030303;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #0e0e0e;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #0e0e0e;;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}

  /* .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
.box select {
    right: 573px;
    color: black;
    background: #eee;
    padding: 10px;
    width: 100px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    background-color: cd1d3;
    color: black;
    padding: 3px;
    width: 46px;
    border: 1px solid;
    border-radius: 24px;
    font-size: 13px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    position: absolute;
    bottom: 36px;
}

  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

.form_position{
      position: relative;
      bottom: 10px;
  }