/*review_write start*/
*{
    margin: 0;
    padding: 0;
}


#review_content{
    width: 880px;
    height: 330px;
}

#review_writer{
    width: 300px;
}
.reviewBtn_div{
    text-align: right;
    padding-right: 36px;
}



.review_content>tr:nth-child(3)>th{
    padding: 5px 13px 296px 0px;
}
.review_content>tr>th{
    margin: 0 10px 0 10px;
    text-align: left;
    padding: 6px 33px 0 0px;
}


#review_submit{
    width: 100px;
    float: right;
}
.cancelBtn_review{
    width: 75px;
    height: 40px;
    background: white;
    border: 1px solid #6060d0de;
    border-radius: 7px;
    color: #6060d0de;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 7px;
}

.review_input:focus{
    border-color: dodgerblue;
    box-shadow:20px dodgerblue;
}


.review_input{
    width: 100%;
    border-radius: 15px;
    height: 40px;
    box-sizing: border-box;
    padding: 4px 11px;
    margin: 18px 0 0 0;
    color: #333;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    font-weight: 500;
    outline: dodgerblue;
}

/*review_write end*/

/*board css* start*/


table {
    border-collapse:collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap{
    padding: 50px;
}

.board_list {
    width: 100%;
}

.board_list tr {
    border-bottom: 1px solid #999;
}

.board_list th,
.board_list td{
    padding: 10px;
    font-size: 14px;
}

.board_list td {
text-align: center;
}

.board_list .tit {
text-align: left;
}

.board_list tbody tr td:nth-child(3) :hover{
    text-decoration: underline;
}

.board_list_wrap .paging{
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

.board_list_wrap .paging a{
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px; 
    border : 1px solid #000;
    font-size: 12px;
    background: #eee;
    border-radius: 500px;
}

.board_list_wrap .paging a.sbt{
    border-radius: 5px;
    font-weight: 600;
    background:none;
}

.board_list_wrap .paging a:first-child{
    margin-left: 0;
}

.board_list_wrap .paging a.sbt.on{
    border-radius: 27px;
    font-weight: 600;
}
.writez{
    float: right;
}