{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_curriculum_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        curriculum
    </div>
    <div class="mc_content">
        curriculum list

        <ul>
            <li>
                <p>VR/AR</p>
                <a href="/curriculum/curriculum_view">과정 자세히 보기</a>
            </li>
            <li>
                <p>블록체인</p>
                <a href="/curriculum/curriculum_view">과정 자세히 보기</a>
            </li>
            <li>
                <p>게임기획</p>
                <a href="/curriculum/curriculum_view">과정 자세히 보기</a>
            </li>
            <li>
                <p>게임프로그래밍</p>
                <a href="/curriculum/curriculum_view">과정 자세히 보기</a>
            </li>
        </ul>

    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}