<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index/gnb.css">
  <link rel="stylesheet" href="/css/subpage/curriculum/curr_view.css">
  <link rel="stylesheet" href="/css/mobile/mobile_common.css">
  <link rel="stylesheet" href="/css/mobile/mobile_curriculum.css">

</head>
<body>
 
{% include "../layout/gnb.html" %}


 <section id ='curr_info'  > 
    <strong class="name">{{spec.name}}</strong>
    <div class="curr_content">
        <div>
            <div >{{spec.info}}</div>
            <div >교육기간: {{spec.term}}개월</div>
            <div >교육시간: {{spec.start_time}} ~{{spec.end_time}}</div>
            <div >교육장소: {{spec.location}}</div>
            <div >자격요건: {{spec.qual}}</div>
            <div >수강료: {{spec.tuition}}</div>
        </div>
    </div>
    
    
</section>
<section id ='curr_sbj'>
    <strong id="head">커리큘럼</strong>
  <div id="scroll_image">
    {% for item in subjects %}
	<div class="subject_image"><img class="sbj-img" src="http://13.209.126.185:3000/{{item.image}}" alt="교과목이미지"></div>
    {% endfor %}
  </div>
  <div id="scroll_text">
    {% for item in subjects %}    
    <div class="subject_text">
      <strong>{{item.name}}</strong>
      <div>{{item.content}}</div>
    </div>
    <div id="temp">

    </div>
    {% endfor %}
  </div>


</section>
<section id ='curr_rv'>
    <strong id="rv_head">수강후기</strong>
    {% for item in review %}
    <div class="rv_card">
        <div class="rv_image_box"><img class='rv_image picto_{{item.pictonum}}' src="http://13.209.126.185:3000/programmer_icon1.png" alt=""></div>
        <div class="rv_text_box"><span>{{item.writer_user.username}} 수강생</span>
            <p>{{item.content}}</p></div>
    </div>
    {% endfor %}

</section> 

<section id="curr_consult">
    <p>
        비전공 청년에게도 새로운 디지털 일자리가 열립니다.<br>
        지금 바로 신청하세요. 
    </p>
    <a href="/consult/consulting">상담신청하기</a>

</section>

<script src="/js/mobile_menu.js"></script>
<script src="/js/curr.js"></script>
{% if userid != undefined %}
<script>
    const userinfo = document.querySelector('.userinfo');
    const before_login = document.querySelector('.before_login');
    const after_login = document.querySelector('.after_login');
    const after_login_span = document.querySelector('.after_login_span');

    before_login.style.display = 'none';
    after_login.style.display = 'block';
</script>
{% endif %}

{% if nickname != undefined %}
<script>
    const userinfo = document.querySelector('.userinfo');
    const before_login = document.querySelector('.before_login');
    const after_login = document.querySelector('.after_login');
    const after_login_span = document.querySelector('.after_login_span');

    before_login.style.display = 'none';
    after_login.style.display = 'block';
</script>
{% endif%}


</body>
</html>