{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_curriculum_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        curriculum
    </div>
    <div class="mc_content">
        <div>
            {% for item in result %}
            <div class="crcl_list">
                <h4>{{item.name}} - 현재모집중</h4>
                <div class="crcl_img">
                    <img src="http://13.209.126.185:3000/{{item.image}}" alt=`{{item.name}}과정` width="330" height="220">
                </div>
                <div class="crcl_con">
                    <h5>{{item.name}}</h5>
                    <dl>
                        <dt>교육기간</dt>
                        <dd>개강일로부터 {{item.term}}개월</dd>
                        <dd>교육시간  {{item.start_time}} ~{{item.end_time}}</dd>
                        <dd>교육수당 {{item.tuition}}</dd>
                    </dl>
                    <div class="btn_group">
                        <a href="/consult/consulting"  class="btn_blue">지원하기</a>
                        <a href="/curriculum/curriculum_view?id={{item.id}}"class="btn_blue">과정자세히보기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}