{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_curriculum_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        curriculum
    </div>
    <div class="mc_content">
        curriculum list

        <ul>
            {% for item in result %}
            <li>
                <p>{{item.name}}</p>
                <p><img src="http://localhost:3000/{{item.image}}" alt=""></p>
                <a href="/curriculum/curriculum_view?id={{item.id}}">과정 자세히 보기</a>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}