{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_jobinfo_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        {{title}}
    </div>
    <div class="mc_content">

        <ul class="jobinfo_ul">
            {% for item in result %}
            <li>
                <p>글 번호 : {{item.num}}</p>
                <p>조회수 : {{item.hit}}</p>

                <a href="/jobinfo/{{board_name}}/view?id={{item.id}}&page={{page}}&num={{item.num}}">
                    <img src="{{item.thumbnails[0].image}}" alt="">
                    <p class="jobinfo_content_title">{{item.subject}}</p>
                </a>
                <p>작성자 : {{item.writer_user.username}}</p>
                <p>{{item.date}}</p>
                
            </li>
            {% endfor %}
        </ul>

        <div class="paging">
            <a href="/jobinfo/{{board_name}}/list?page=1">처음</a>
            {% if prev %}
            <a href="/jobinfo/{{board_name}}/list?page={{prev}}">이전</a>
            {% endif %}
            {% for item in nowpageblock %}
            <a href="/jobinfo/{{board_name}}/list?page={{item}}"class="sbt" id="page_item">{{item}}</a>
            {% endfor %}
            {% if next %}
            <a href="/jobinfo/{{board_name}}/list?page={{next}}">다음</a>
            {% endif %}
            <a href="/jobinfo/{{board_name}}/list?page={{end}}">끝</a>

        </div>

    </div>
</div>
<!--menu_contents end-->
<!--menu_contents end-->
<script>
    // 해당 페이지 밑에 표시됨
    const page_item = document.querySelectorAll('#page_item');
    const page = '{{page}}'
    for (i = 0; i < page_item.length; i++) {
        if (page == i + 1) {
            page_item[i].style.color = 'red'
        }
    }
</script>

{% include "../layout/subpage_bottom.html" %}