{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_jobinfo_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
         {{title}}
    </div>
    <div class="mc_content">

        <ul>
            {% for item in result %}
            <li>
            {{item.num}}
            {{item.writer_user.username}}
            <a href="/jobinfo/{{board_name}}/view?id={{item.id}}&page={{page}}&num={{item.num}}">{{item.subject}}</a>
            {{item.date}}
            {{item.hit}}
        </li>
          {% endfor %}
        </ul>

        <div>
            <a href="/jobinfo/{{board_name}}?page=1">처음</a>
            {% if prev %}
            <a href="/jobinfo/{{board_name}}?page={{prev}}">이전</a>
            {% endif %}
            {% for item in nowpageblock %}
            <a href="/jobinfo/{{board_name}}?page={{item}}">{{item}}</a>
            {% endfor %}
            {% if next %}
            <a href="/jobinfo/{{board_name}}?page={{next}}">다음</a>
            {% endif %}
            <a href="/jobinfo/{{board_name}}?page={{end}}">끝</a>

        </div>
            
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}