{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_jobinfo_navi.html" %}

<!--menu_contents start-->
<div class="menu_contents">
    <div class="mc_title">
        포트폴리오
    </div>
    <div class="mc_content">
        <div>
            <form action="/jobinfo/portfolio_submit_success" method="post" enctype="multipart/form-data">
                <ul>
                    <li><label for="portfolio_explanation">포트폴리오에 관한 설명을 작성해주세요</label></li>
                    <li>
                        <textarea name="portfolio_explanation" id="portfolio_explanation" cols="30" rows="10"></textarea>
                    </li>
                </ul>
                <ul>
                    <li><label for="file">파일을 첨부해주세요</label></li>
                    <li><input type="file" name="img"></li>
                </ul>
                <input type="submit" value="제출">
            </form>
        </div>
    </div>
</div>
<!--menu_contents end-->


{% include "../layout/subpage_bottom.html" %}