{% include "../layout/subpage_top.html" %}
{% include "../layout/subpage_jobinfo_navi.html" %}

<!--menu_contents start-->
<!-- <div class="menu_contents">
    <div class="mc_title">
        {{title}}
    </div>
    <div class="mc_content">
        <div>
              <div id="content"></div>
            
          </div>

    <div class="bt_wrap">
      {% if search_type==undefined %}
      <a href="/jobinfo/{{board_name}}/list?page={{page}}" class="on">목록</a>
      {% else %}
      <a href="/jobinfo/{{board_name}}/list?page={{page}}&search_type={{search_type}}&search_value={{search_value}}"
        class="on">목록</a>
      {% endif %}
    </div>
</div> -->
<div class="menu_contents board_wrap">
    <div class="mc_title">
      {{title}}
    </div>
        <div class="board_view_wrap">
            <div class="board_view board_title">
                <div class="title">
                    {{result.subject}}
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>{{result.num}}</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{result.writer_user.username}}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd> {{result.date}}</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>{{result.hit}}</dd>
                    </dl>
                </div>
                <div class="cont">
                    {{result.content}}
                </div>
            <div class="bt_wrap">
                <a href="/jobinfo/{{board_name}}/list?page={{page}}" class="on">목록</a>
            </div>
        </div>
    </div>
</div>
<!--menu_contents end-->
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded',()=>{
    const hidden_content = document.querySelector('#hidden_content');
    const content = document.querySelector('#content');
      content.innerHTML = `${hidden_content.value}`; 
    })
  </script>


  {% include "../layout/subpage_bottom.html" %}