#realTime_list{
  float: left;
  height: 1050px;
}

#consulting_box,
#waiting_box
{ min-height: 500px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
}

#consulting_box{
  margin-bottom: 50px;
}

#realTime_list>div>span{
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
}

#consulting_box>span{
  background: #4ddb55;
}

#waiting_box>span{
  background: #ffba3b;
  margin-bottom: 30px;
}


#waiting{
  border-radius: 20px;
}

.client_in{ 
  margin: 10px 0;
  display: inline-block;
	padding: 7px 30px;
	background: #006cdb;
	border: 1px solid #006cdb;
	border-radius: 6px;
	font-weight: bold;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.client_out{
  margin: 10px 0;
  display: inline-block;
	padding: 7px 30px;
	background: #040214;
	border: 1px solid #040214;
	border-radius: 6px;
	font-weight: bold;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.client_out>input,
.client_in>input{ 
  border: none;
	font-weight: bold;
}


.clientInfo{ 
  display: inline-block;
  font-size: 16px;
}




.consult_event>input{
  display: inline-block;
  
  width: 70px;
  height: 40px;
}





#chat_area{ 
  margin-left: 100px;
}

