#realTime_list{
  float: left;
  height: 1050px;
}

#consulting_box,
#waiting_box
{ min-height: 500px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
}

#consulting_box{
  margin-bottom: 50px;
}

#realTime_list>div>span{
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
}

#consulting_box>span{
  background: #4ddb55;
}

#waiting_box>span{
  background: #ffba3b;
  margin-bottom: 30px;
}


#waiting{
  border-radius: 20px;
}

.client_in{ 
  width: 250px;
  height: 90px;
  box-sizing: border-box;
  /* border-radius: 30px; */
  padding: 7px 14px;
  background-color: blanchedalmond;
  line-height: 90px;
  text-align: right;
}

.client_out{
  width: 250px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 7px 14px;
  background-color: gray;
  line-height: 90px;

}


.clientInfo{ 
  float: left;
  width: 150px;
  font-size: 16px;
}

.consult_event{ 
<<<<<<< HEAD
  float: left;
  width: 50px;
=======
  float: right;
  width: 100%;
>>>>>>> ce4ef094e373f9906c02335c413046e2098885d4
  height: 90px;
  /* text-align: center; */
  /* line-height: 90px; */
  /* background:red; */
}


.consult_event>input{
  display: inline-block;
  
  width: 70px;
  height: 40px;
}





#chat_area{ 
  margin-left: 100px;
}

