* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html{
  font-family: 'NanumSquareRound';
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  float: left;
  width: 1200px;
  margin-left: 200px;
  height: auto;
  overflow: hidden;
  position: relative;
}

#summernote_wrap {
  width: 996px;
  min-height: 900px;
  margin: 0 auto;
}

#gnb {
  width: 1900px;
  height: 100px;
  margin-bottom: 100px;
}

#container1900 {
  width: 1900px;
  height: auto;
  overflow: hidden;
}

#gnb > ul {
  float: right;
  width: 1600px;
  height: 100px;
}

#gnb > ul > li,
#gnb > h1 {
  display: inline-block;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

#gnb > ul > li > a {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

#snb {
  float: left;
  width: 300px;
  height: auto;
  overflow: hidden;
}

#snb > h3 {
  width: 300px;
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  color: black;
  font-size: 24px;
  text-align: center;
}

#snb > ul > li {
  width: 300px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

#snb > ul > li > a {
  font-weight: bold;
  color: black;
  font-size: 20px;
}


.writeBtn{
  display: inline-block;
    float: right;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 15px;
    background: black;
    color: white;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}

#main>div>h2{
  margin-bottom: 110px;
    font-size: 37px;
    background: #636161;
    color: white;
    text-align: center;
    border-radius: 30px;
}
