
#curr_rv{
  width: 1250px;
  height: 800px;
  margin: 0 auto;
}

#rv_detail{
  width: 1250px;
  height: auto; 
  overflow: hidden;
}

.td_subject{
  cursor: pointer;
}

#summernote_wrap{
  width: 996px;
  min-height: 900px;
}